<div class="row">
  <div class="col-10 hmenu">
    <!-- cms-menu impromptu -->

    <div id="menu">
      <ul class="nav" style="display: flex; flex-direction: row; gap: 30px; align-items: center; list-style: none; white-space: nowrap;">

        <li class="nav-item">
          <!-- Brands dropdown start -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Brands
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">Top Vape Brands</h5>
                  <a class="dropdown-item product-title" href="/collections/7daze">7DAZE</a>
                  <a class="dropdown-item product-title" href="/collections/blvk">BLVK</a>
                  <a class="dropdown-item product-title" href="/collections/candy-king">Candy King</a>
                  <a class="dropdown-item product-title" href="/collections/cloud-nurdz">Cloud Nurdz</a>
                  <a class="dropdown-item product-title" href="/collections/elf-bar">Elf Bar</a>
                  <a class="dropdown-item product-title" href="/collections/juice-head">Juice Head</a>
                  <a class="dropdown-item product-title" href="/collections/naked">Naked100</a>
                  <a class="dropdown-item product-title" href="/collections/pod-juice">Pod Juice</a>
                  <a class="dropdown-item product-title" href="/collections/skwezed">Skwezed</a>
                  <a class="dropdown-item product-title" href="/collections/twist">Twist E-Liquids</a>

                  <!-- Brand automation in progress (https://shopify.dev/api/liquid/objects/collection)
                  {% for collection in collections %}
                    {% if collection.title == '7daze' %} <a class="dropdown-item product-title" href="/collections/7daze">7DAZE</a> {% endif %}
                    {% if collection.title == 'Blvk' %} <a class="dropdown-item product-title" href="/collections/blvk">BLVK</a> {% endif %}
                    {% if collection.title == 'Candy King' %} <a class="dropdown-item product-title" href="/collections/candy-king">Candy King</a> {% endif %}
                    {% if collection.title == 'Cloud Nurdz' %} <a class="dropdown-item product-title" href="/collections/cloud-nurdz">Cloud Nurdz</a> {% endif %}
                    {% if collection.title == 'Elf Bar' %} <a class="dropdown-item product-title" href="/collections/elf-bar">Elf Bar</a> {% endif %}
                    {% if collection.title == 'Juice Head' %} <a class="dropdown-item product-title" href="/collections/juice-head">Juice Head</a> {% endif %}
                    {% if collection.title == 'Naked' %} <a class="dropdown-item product-title" href="/collections/naked">Naked100</a> {% endif %}
                    {% if collection.title == 'Pod Juice' %} <a class="dropdown-item product-title" href="/collections/pod-juice">Pod Juice</a> {% endif %}
                    {% if collection.title == 'Skwezed' %} <a class="dropdown-item product-title" href="/collections/skwezed">Skwezed</a> {% endif %}
                    {% if collection.title == 'Twist' %} <a class="dropdown-item product-title" href="/collections/twist">Twist E-Liquids</a> {% endif %}
                  {% endfor %} -->

                </div>
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">‎</h5>
                  <a class="dropdown-item product-title" href="/collections/aspire">Aspire</a>
                  <a class="dropdown-item product-title" href="/collections/dotmod">dotmod</a>
                  <a class="dropdown-item product-title" href="/collections/freemax">FreeMax</a>
                  <a class="dropdown-item product-title" href="/collections/geek-vape">GeekVape</a>
                  <a class="dropdown-item product-title" href="/collections/lost-vape">Lost Vape</a>
                  <a class="dropdown-item product-title" href="/collections/smoktech">SMOK</a>
                  <a class="dropdown-item product-title" href="/collections/suorin">Suorin</a>
                  <a class="dropdown-item product-title" href="/collections/uwell">UWELL</a>
                  <a class="dropdown-item product-title" href="/collections/voopoo">VOOPOO</a>
                  <a class="dropdown-item product-title" href="/collections/vaporesso">Vaporesso</a>
                </div>
                <div class="col" style="min-width: 215px; border-left: 1px solid #e5e5e5;">
                  <h5 class="dropdown-header">Top Smoke Shop Brands</h5>
                  <a class="dropdown-item product-title" href="/collections/boulder">Boulder</a>
                  <a class="dropdown-item product-title" href="/collections/CCell">CCell</a>
                  <a class="dropdown-item product-title" href="/collections/dazzleaf">Dazzleaf</a>
                  <a class="dropdown-item product-title" href="/collections/hamilton-devices">Hamilton Devices</a>
                  <a class="dropdown-item product-title" href="/collections/leaf-buddi">Leaf Buddi</a>
                  <a class="dropdown-item product-title" href="/collections/lookah">Lookah</a>
                  <a class="dropdown-item product-title" href="/collections/mj-arsenal">MJ Arsenal</a>
                  <a class="dropdown-item product-title" href="/collections/ooze">Ooze</a>
                  <a class="dropdown-item product-title" href="/collections/white-rhino">White Rhino</a>
                  <a class="dropdown-item product-title" href="/collections/yocan">Yocan</a>
                </div>
                <div class="col" style="min-width: 215px; border-left: 1px solid #e5e5e5;">
                  <h5 class="dropdown-header">Top Hemp Brands</h5>
                  <a class="dropdown-item product-title" href="/collections/cactus-labs-1">Cactus Labs</a>
                  <a class="dropdown-item product-title" href="/collections/cake">Cake</a>
                  <a class="dropdown-item product-title" href="/collections/crumbs">Crumbs</a>
                  <a class="dropdown-item product-title" href="/collections/curevana">Curevana</a>
                  <a class="dropdown-item product-title" href="/collections/dope">Dope</a>
                  <a class="dropdown-item product-title" href="/collections/flying-monkey">Flying Monkey</a>
                  <a class="dropdown-item product-title" href="/collections/kalibloom">Kalibloom</a>
                  <a class="dropdown-item product-title" href="/collections/kush">Kush</a>
                  <a class="dropdown-item product-title" href="/collections/medusa">Medusa</a>
                  <a class="dropdown-item product-title" href="/collections/space-walker">Space Walker</a>
                </div>
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections';"
                  style="width: 100%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Brands 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </li>

        <li class="nav-item">
          <!-- Vape dropdown -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Vape
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">E-Liquid</h5>
                  <a class="dropdown-item product-title" href="/collections/freebase">Freebase</a>
                  <a class="dropdown-item product-title" href="/collections/salts">Salts</a>
                  <h6 class="dropdown-header">Disposables</h6>
                  <a class="dropdown-item product-title" href="#">1,000+ Puffs</a>
                  <a class="dropdown-item product-title" href="#">3,000+ Puffs</a>
                  <a class="dropdown-item product-title" href="#">5,000+ Puffs</a>
                </div>
                <div class="col" style="min-width: 215px; border-left: 1px solid #e5e5e5;">
                  <h5 class="dropdown-header">Hardware</h5>
                  <a class="dropdown-item product-title" href="/collections/accessories">Accessories</a>
                  <a class="dropdown-item product-title" href="/collections/batteries">Batteries</a>
                  <a class="dropdown-item product-title" href="/collections/coils">Coils</a>
                  <a class="dropdown-item product-title" href="/collections/kits">Kits</a>
                  <a class="dropdown-item product-title" href="/collections/mods">Mods</a>
                  <a class="dropdown-item product-title" href="/collections/tanks">Tanks</a>
                </div>
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections';"
                  style="width: 97%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Vape 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </li>

        <li class="nav-item">
          <!-- Smoke Shop dropdown -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Smoke Shop
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row">
                <div class="col" style="min-width: 215px;">
                  <a class="dropdown-item product-title" href="/collections/accessories">Accessories</a>
                  <a class="dropdown-item product-title" href="/collections/dab-rigs">Dab Rigs</a>
                  <a class="dropdown-item product-title" href="/collections/dispensary-supplies">Dispensary Supplies</a>
                  <a class="dropdown-item product-title" href="/collections/hand-pipes-and-bubblers">Hand Pipes & Bubblers</a>
                  <a class="dropdown-item product-title" href="/collections/hemp-products">Hemp</a>
                  <a class="dropdown-item product-title" href="/collections/rolling-papers">Rolling Paper</a>
                  <a class="dropdown-item product-title" href="/collections/water-pipes">Water Pipes</a>
                </div>
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections';"
                  style="width: 97%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Smoke Shop 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </li>

        <li class="nav-item">
          <!-- Hemp dropdown -->
          <div class="dropdown">
            <a
              class="dropdown-toggle localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Hemp
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">Delta 8</h5>
                  <a class="dropdown-item product-title" href="#">Edibles</a>
                  <a class="dropdown-item product-title" href="#">Flower</a>
                  <a class="dropdown-item product-title" href="#">Prerolls</a>
                  <a class="dropdown-item product-title" href="#">Vapeables</a>
                  <h6 class="dropdown-header">HHC</h6>
                  <a class="dropdown-item product-title" href="#">Edibles</a>
                  <a class="dropdown-item product-title" href="#">Flower</a>
                  <a class="dropdown-item product-title" href="#">Prerolls</a>
                  <a class="dropdown-item product-title" href="#">Vapeables</a>
                </div>
                <div class="col" style="min-width: 215px; border-left: 1px solid #e5e5e5;">
                  <h5 class="dropdown-header">Delta 9</h5>
                  <a class="dropdown-item product-title" href="#">Edibles</a>
                  <a class="dropdown-item product-title" href="#">Flower</a>
                  <a class="dropdown-item product-title" href="#">Prerolls</a>
                  <a class="dropdown-item product-title" href="#">Vapeables</a>
                  <h6 class="dropdown-header">THC-O</h6>
                  <a class="dropdown-item product-title" href="#">Edibles</a>
                  <a class="dropdown-item product-title" href="#">Flower</a>
                  <a class="dropdown-item product-title" href="#">Prerolls</a>
                  <a class="dropdown-item product-title" href="#">Vapeables</a>
                </div>
                <div class="col" style="min-width: 215px; border-left: 1px solid #e5e5e5;">
                  <h5 class="dropdown-header">Delta 10</h5>
                  <a class="dropdown-item product-title" href="#">Edibles</a>
                  <a class="dropdown-item product-title" href="#">Flower</a>
                  <a class="dropdown-item product-title" href="#">Prerolls</a>
                  <a class="dropdown-item product-title" href="#">Vapeables</a>
                </div>
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections';"
                  style="width: 97%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Hemp 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </li>

        <li class="nav-item">
          <!-- Flavor Shots -->
          <a
            class="nav-link localization-selector link link--text caption-large"
            style="color: #ffffff; border-right: 0 !important;"
            href="#">Flavor Shots
          </a>
        </li>

        <li class="nav-item">
          <!-- Support dropdown -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Support
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">Contact Us</h5>
                  <a class="dropdown-item product-title" href="#">Customer Support</a>
                  <a class="dropdown-item product-title" href="#">Product Request</a>
                  <a class="dropdown-item product-title" href="#">Request a Wholesale Account</a>
                  <a class="dropdown-item product-title" href="#">RMA Request</a>
                  <h6 class="dropdown-header">Other</h6>
                  <a class="dropdown-item product-title" href="#">F.A.Q.</a>
                  <a class="dropdown-item product-title" href="#">Shipping & Returns</a>
                  <a class="dropdown-item product-title" href="#">State Tax Rates</a>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-lg-3 text-right offer-icon d-xl-inline-block d-none">
    <div class="special-offer">
      {{ section.settings.ofrtxt }}
    </div>
  </div>

</div>

<style>
  .row {
    flex-wrap: nowrap;
  }
  li {
    text-transform: capitalize;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }
  .qvbutton:hover {
    background-color: #f8ca23 !important;
    transition: 0.15s;
  }
  .dropdown-header {
    padding: 0.5rem !important;
  }
  .dropdown-item {
    padding: 0.01rem 1.5rem !important;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
</style>

{% schema %}
  {
    "name": "Cms Menu",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Cms Menu"
      }, {
        "type": "richtext",
        "id": "cms_menu",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "header",
        "content": "Special Offer"
      }, {
        "type": "richtext",
        "id": "ofrtxt",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }

    ],
    "presets": [
      {
        "name": "Cms Menu",
        "category": "Megamenu"
      }
    ]
  }
{% endschema %}