<div class="row">
  <div class="col-xl-9 col-12 hmenu">
    <div class="cms-menu" style="display: flex; flex-direction: row; align-items: center">

      {%- comment -%}
        Nav Menu: Brands
      {%- endcomment -%}

      <div class="dropdown">
        <a href="https://www.lavaporwholesale.com/pages/brands" data-toggle="dropdown">Brands &rsaquo;</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          {%- comment -%}
            Vape sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Vape &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">E-Liquid</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Hardware</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Disposables</a>
              </li>
            </ul>
          </li>

          {%- comment -%}
            Smoke Shop sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Smoke Shop &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">E-Liquid</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Hardware</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Disposables</a>
              </li>
            </ul>
          </li>

          {%- comment -%}
            Hemp sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Hemp &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">E-Liquid</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Hardware</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Disposables</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>


      {%- comment -%}
        Nav Menu: Vape
      {%- endcomment -%}
      <div class="dropdown">
        <a href="#" data-toggle="dropdown">Vape &rsaquo;</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          {%- comment -%}
            E-Liquid sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              E-Liquid
            </a>
          </li>

          {%- comment -%}
            Smoke Shop sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Hardware
            </a>
          </li>

          {%- comment -%}
            Hemp sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Disposables
            </a>
          </li>
        </ul>
      </div>


      {%- comment -%}
        Nav Menu: Smoke Shop
      {%- endcomment -%}
      <div class="dropdown">
        <a href="#" data-toggle="dropdown">Smoke Shop &rsaquo;</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          {%- comment -%}
            Glass sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Glass
            </a>
          </li>

          {%- comment -%}
            Pipes sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Pipes
            </a>
          </li>

          {%- comment -%}
            Vaporizers sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Vaporizers
            </a>
          </li>

          {%- comment -%}
            Dabs sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Dabs
            </a>
          </li>
        </ul>
      </div>


      {%- comment -%}
        Nav Menu: Hemp
      {%- endcomment -%}
      <div class="dropdown">
        <a href="#" data-toggle="dropdown">Hemp &rsaquo;</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          {%- comment -%}
            Delta 8 sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Delta 8 &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Vapables</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Prerolls/Flower</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Edibles</a>
              </li>
            </ul>
          </li>

          {%- comment -%}
            Delta 9 sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Delta 9 &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Vapables</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Prerolls/Flower</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Edibles</a>
              </li>
            </ul>
          </li>

          {%- comment -%}
            Delta 10 sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              Delta 10 &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Vapables</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Prerolls/Flower</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Edibles</a>
              </li>
            </ul>
          </li>

          {%- comment -%}
            HHC sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              HHC &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Vapables</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Prerolls/Flower</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Edibles</a>
              </li>
            </ul>
          </li>

          {%- comment -%}
            THC-O sub-category
          {%- endcomment -%}
          <li>
            <a class="dropdown-item" href="#" style="color: black;">
              THC-O &rsaquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Vapables</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Prerolls/Flower</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: black;">Edibles</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      {%- comment -%}
        Nav Menu: Quick Order
      {%- endcomment -%}
      <a type="button" class="btn btn-danger">Quick Order</a>

      {%- comment -%}
        Nav Menu: Qther
      {%- endcomment -%}

      <a href="https://www.lavaporwholesale.com/pages/about">About Us</a>
      <a href="https://www.lavaporwholesale.com/pages/contact-us">Contact Us</a>

    </div>
  </div>

  <div class="col-lg-3 text-right offer-icon d-xl-inline-block d-none">
    <div class="special-offer">
      {{ section.settings.ofrtxt }}
    </div>
  </div>

</div>

<style>
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }

  .dropdown-hover:hover > .dropdown-menu {
    display: inline-block;
  }

  .dropdown-hover > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
</style>

{% schema %}
  {
    "name": "Cms Menu",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Cms Menu"
      }, {
        "type": "richtext",
        "id": "cms_menu",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "header",
        "content": "Special Offer"
      }, {
        "type": "richtext",
        "id": "ofrtxt",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }

    ],
    "presets": [
      {
        "name": "Cms Menu",
        "category": "Megamenu"
      }
    ]
  }
{% endschema %}