<link rel="stylesheet" href="/assets/mega-menu.css">

<div class="row">
  <div class="col-xl-9 col-12 hmenu">
    <!-- cms-menu impromptu -->
    <div style="display: flex; flex-direction: row; gap: 30px; align-items: center; list-style: none; white-space: nowrap;">

      <li class="dropdown menu-large">

        <a href="#" class="dropdown-toggle link link--text" data-toggle="dropdown" style="color: #FFF !important;">
          Brands
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">

              <div class="row">

                <div class="col-md">
                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Vape
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">E-Liquid</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Hardware</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Disposables</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    Smoke Shop
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Glass</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Pipes</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vaporizers</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Dabs</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Accessories</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header">
                    Hemp
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Delta 8</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Delta 9</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Delta 10</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">HHC</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">THC-O</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">

        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Vape
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">

              <div class="row">
                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    E-Liquid
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Freebase</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Salts</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    Disposables
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Puff Count</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">
                  <ul class="dropdown-header">
                    Hardware
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Kits</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Mods</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Tanks</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Accessories</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Smoke Shop
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">
              <div class="row">
                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Glass
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    Dabs
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Pipes
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    Accessories
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                  </ul>


                </div>

                <div class="col-md">
                  <ul class="dropdown-header">
                    Vaporizers
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Lorem Ipsum</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Hemp
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">
              <div class="row">

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 8
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    HHC
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 9
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    THC-O
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 10
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">Quick Order</a>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">About Us</a>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">Contact Us</a>
      </li>

    </div>
  </div>

  <div class="col-lg-3 text-right offer-icon d-xl-inline-block d-none">
    <div class="special-offer">
      {{ section.settings.ofrtxt }}
    </div>
  </div>

</div>

<style>
  .row {
    flex-wrap: nowrap;
  }

  li {
    text-transform: capitalize;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }
</style>

{% schema %}
  {
    "name": "Cms Menu",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Cms Menu"
      }, {
        "type": "richtext",
        "id": "cms_menu",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "header",
        "content": "Special Offer"
      }, {
        "type": "richtext",
        "id": "ofrtxt",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }

    ],
    "presets": [
      {
        "name": "Cms Menu",
        "category": "Megamenu"
      }
    ]
  }
{% endschema %}