<link rel="stylesheet" href="/assets/mega-menu.css">

<div class="row">
  <div class="col-xl-9 col-12 hmenu">
    <!-- cms-menu impromptu -->
    <div style="display: flex; flex-direction: row; gap: 30px; align-items: center; list-style: none; white-space: nowrap;">

      <li class="dropdown menu-large">

        <a href="https://www.lavaporwholesale.com/pages/brands" class="dropdown-toggle link link--text" data-toggle="dropdown" style="color: #FFF !important;">
          Brands
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">

              <div class="row">

                <div class="col-md">
                  <ul class="dropdown-header">
                    Top Vape brands

                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>

                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header">
                    &nbsp;
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>

                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5;">
                    Top Smoke Shop Brands
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header">
                    Top Hemp Brands
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Brands</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">

        <a href="https://www.lavaporwholesale.com/collections/devices-1" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Vape
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">

              <div class="row">
                <div class="col-md">

                  <ul class="dropdown-header">
                    E-Liquid
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/freebase" style="padding-left: 10px; padding-right: 10px">Freebase</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/salts" style="padding-left: 10px; padding-right: 10px">Salts</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    Disposables
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">1,000+ Puffs</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">3,000+ Puffs</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">5,000+ Puffs</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-left: 1px solid #e4e4e4;">
                    Hardware
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/kits" style="padding-left: 10px; padding-right: 10px">Kits</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/mods" style="padding-left: 10px; padding-right: 10px">Mods</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/tanks" style="padding-left: 10px; padding-right: 10px">Tanks</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/coils" style="padding-left: 10px; padding-right: 10px">Coils</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/batteries" style="padding-left: 10px; padding-right: 10px">Batteries</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/accessories" style="padding-left: 10px; padding-right: 10px">Accessories</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Smoke Shop
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <a href="#" style="padding-left: 10px; padding-right: 10px">Vaporizers</a>
                  <a href="https://www.lavaporwholesale.com/collections/water-pipes" style="padding-left: 10px; padding-right: 10px">Water Pipes</a>
                  <a href="https://www.lavaporwholesale.com/collections/dab-rigs" style="padding-left: 10px; padding-right: 10px">Dab Rigs</a>
                  <a href="https://www.lavaporwholesale.com/collections/dispensary-supplies" style="padding-left: 10px; padding-right: 10px">Dispensary Supplies</a>
                  <a href="https://www.lavaporwholesale.com/collections/hand-pipes-and-bubblers" style="padding-left: 10px; padding-right: 10px">Hand Pipes & Bubblers</a>
                  <a href="https://www.lavaporwholesale.com/collections/hemp-products" style="padding-left: 10px; padding-right: 10px">Hemp</a>
                  <a href="https://www.lavaporwholesale.com/collections/rolling-papers" style="padding-left: 10px; padding-right: 10px">Rolling Paper</a>
                  <a href="https://www.lavaporwholesale.com/collections/accessories" style="padding-left: 10px; padding-right: 10px">Accessories</a>
                </div>
              </div>
              <di
            </li>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Hemp
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">
              <div class="row">

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 8
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    HHC
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 9
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    THC-O
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 10
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">Quick Order</a>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">About Us</a>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">Contact Us</a>
      </li>

    </div>
  </div>

  <div class="col-lg-3 text-right offer-icon d-xl-inline-block d-none">
    <div class="special-offer">
      {{ section.settings.ofrtxt }}
    </div>
  </div>

</div>

<style>
  .row {
    flex-wrap: nowrap;
  }

  li {
    text-transform: capitalize;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }
</style>

{% schema %}
  {
    "name": "Cms Menu",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Cms Menu"
      }, {
        "type": "richtext",
        "id": "cms_menu",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "header",
        "content": "Special Offer"
      }, {
        "type": "richtext",
        "id": "ofrtxt",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }

    ],
    "presets": [
      {
        "name": "Cms Menu",
        "category": "Megamenu"
      }
    ]
  }
{% endschema %}