<div style="flex-wrap: nowrap;">
  <div class="col-xl-12 hmenu">
    <!-- cms-menu impromptu -->

    <div id="cms-menu">
      <ul class="nav" style="display: flex; flex-direction: row; gap: 15px; align-items: center; list-style: none; white-space: nowrap;">

        <li class="nav-item">
          <!-- Brands dropdown start -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Brands
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row" style="flex-wrap: nowrap;">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">Top Brands</h5>
                  <a class="dropdown-item" href="/collections/7daze">7DAZE</a>
                  <a class="dropdown-item" href="/collections/blvk">BLVK</a>
                  <a class="dropdown-item" href="/collections/candy-king">Candy King</a>
                  <a class="dropdown-item" href="/collections/cloud-nurdz">Cloud Nurdz</a>
                  {% comment %} <a class="dropdown-item" href="/collections/elf-bar">Elf Bar</a> {% endcomment %}
                  <a class="dropdown-item" href="/collections/juice-head">Juice Head</a>
                  <a class="dropdown-item" href="/collections/naked">Naked100</a>
                  <a class="dropdown-item" href="/collections/pod-juice">Pod Juice</a>
                  <a class="dropdown-item" href="/collections/skwezed">Skwezed</a>
                  <a class="dropdown-item" href="/collections/twist-eliquid">Twist E-Liquids</a>

                  <!-- Brand automation in progress (https://shopify.dev/api/liquid/objects/collection)
                  {% for collection in collections %}
                    {% if collection.title == '7 daze' %} <a class="dropdown-item" href="/collections/7daze">7DAZE</a> {% endif %}
                    {% if collection.title == 'Blvk' %} <a class="dropdown-item" href="/collections/blvk">BLVK</a> {% endif %}
                    {% if collection.title == 'Candy King' %} <a class="dropdown-item" href="/collections/candy-king">Candy King</a> {% endif %}
                    {% if collection.title == 'Cloud Nurdz' %} <a class="dropdown-item" href="/collections/cloud-nurdz">Cloud Nurdz</a> {% endif %}
                    {% if collection.title == 'Elf Bar' %} <a class="dropdown-item" href="/collections/elf-bar">Elf Bar</a> {% endif %}
                    {% if collection.title == 'Juice Head' %} <a class="dropdown-item" href="/collections/juice-head">Juice Head</a> {% endif %}
                    {% if collection.title == 'Naked' %} <a class="dropdown-item" href="/collections/naked">Naked100</a> {% endif %}
                    {% if collection.title == 'Pod Juice' %} <a class="dropdown-item" href="/collections/pod-juice">Pod Juice</a> {% endif %}
                    {% if collection.title == 'Skwezed' %} <a class="dropdown-item" href="/collections/skwezed">Skwezed</a> {% endif %}
                    {% if collection.title == 'Twist eiliquid' %} <a class="dropdown-item" href="/collections/twist">Twist E-Liquids</a> {% endif %}
                  {% endfor %} -->

                </div>
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">‎</h5>
                  <a class="dropdown-item" href="/collections/aspire">Aspire</a>
                  <a class="dropdown-item" href="/collections/dotmod">dotmod</a>
                  <a class="dropdown-item" href="/collections/freemax">FreeMax</a>
                  <a class="dropdown-item" href="/collections/geek-vape">GeekVape</a>
                  <a class="dropdown-item" href="/collections/lost-vape">Lost Vape</a>
                  <a class="dropdown-item" href="/collections/smok">SMOK</a>
                  <a class="dropdown-item" href="/collections/suorin">Suorin</a>
                  <a class="dropdown-item" href="/collections/uwell">UWELL</a>
                  <a class="dropdown-item" href="/collections/voopoo">VOOPOO</a>
                  <a class="dropdown-item" href="/collections/vaporesso">Vaporesso</a>
                </div>
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">‎</h5>
                  {% comment %} <a class="dropdown-item" href="/collections/boulder">Boulder</a>
                  <a class="dropdown-item" href="/collections/CCell">CCell</a>
                  <a class="dropdown-item" href="/collections/hamilton-devices">Hamilton Devices</a>
                  <a class="dropdown-item" href="/collections/leaf-buddi">Leaf Buddi</a>
                  <a class="dropdown-item" href="/collections/mj-arsenal">MJ Arsenal</a>
                  <a class="dropdown-item" href="/collections/ooze">Ooze</a>
                  <a class="dropdown-item" href="/collections/white-rhino">White Rhino</a> {% endcomment %}
                  <a class="dropdown-item" href="/collections/dazzleaf">Dazzleaf</a>
                  <a class="dropdown-item" href="/collections/lookah">Lookah</a>
                  <a class="dropdown-item" href="/collections/kalibloom">Kalibloom</a>
                  <a class="dropdown-item" href="/collections/yocan">Yocan</a>
                </div>
                {% comment %} <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">‎</h5>
                  <a class="dropdown-item" href="/collections/cactus-labs">Cactus Labs</a>
                  <a class="dropdown-item" href="/collections/cake">Cake</a>
                  <a class="dropdown-item" href="/collections/crumbs">Crumbs</a>
                  <a class="dropdown-item" href="/collections/curevana">Curevana</a>
                  <a class="dropdown-item" href="/collections/dope">Dope</a>
                  <a class="dropdown-item" href="/collections/flying-monkey">Flying Monkey</a>
                  <a class="dropdown-item" href="/collections/kalibloom">Kalibloom</a>
                  <a class="dropdown-item" href="/collections/kush-burst">Kush Burst</a>
                  <a class="dropdown-item" href="/collections/medusa">Medusa</a>
                  <a class="dropdown-item" href="/collections/space-walker">Space Walker</a>
                </div> {% endcomment %}
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections';"
                  style="padding: 0px; width: 100%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Brands 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </li>

        <li class="nav-item">
          <!-- Vape dropdown -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Vape
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row" style="flex-wrap: nowrap;">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header" >E-Liquid</h5>
                  <a class="dropdown-item" href="/collections/freebase">Freebase</a>
                  <a class="dropdown-item" href="/collections/salts">Salts</a>
                  <a class="dropdown-item dropdown-header" href="/collections/e-liquid"><strong>View all E-Liquid &raquo;</strong></a>
                  {% if customer %}<h6 class="dropdown-header" >Disposables</h6>
                  <a class="dropdown-item" href="/collections/disposables-1000-puffs">1,000+ Puffs</a>
                  <a class="dropdown-item" href="/collections/disposables-3000-puffs">3,000+ Puffs</a>
                  <a class="dropdown-item" href="/collections/disposables-5000-puffs">5,000+ Puffs</a>
                  <a class="dropdown-item dropdown-header" href="/collections/disposables"><strong>View all Disposables &raquo;</strong></a> {% endif %}
                </div>
                <div class="col" style="min-width: 215px; border-left: 1px solid #e5e5e5;">
                  <h5 class="dropdown-header">Hardware</h5>
                  <a class="dropdown-item" href="/collections/accessories">Accessories</a>
                  <a class="dropdown-item" href="/collections/batteries">Batteries</a>
                  <a class="dropdown-item" href="/collections/coils">Coils / Replacement Pods</a>
                  <a class="dropdown-item" href="/collections/kits">Kits</a>
                  <a class="dropdown-item" href="/collections/mods">Mods</a>
                  <a class="dropdown-item" href="/collections/tanks">Tanks</a>
                  <a class="dropdown-item dropdown-header" href="/collections/hardware"><strong>View all Hardware &raquo;</strong></a>
                </div>
              </div>

              <!-- WE CURRENTLY DO NOT HAVE AN 'ALL VAPE' COLLECTION -->
              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections/all-vape';"
                  style="width: 97%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Vape
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link localization-selector link link--text caption-large"
            style="color: #ffffff; border-right: 0 !important;"
            href="/collections/all-smoke-shop">Smoke Shop
          </a>
          <!-- Smoke Shop dropdown -->
          <!-- Temp remove -->
          <!--
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Smoke Shop
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row" style="flex-wrap: nowrap;">`
                <div class="col" style="min-width: 215px;">
                  <a class="dropdown-item" href="/collections/accessories">Accessories</a>
                  <a class="dropdown-item" href="/collections/dab-rigs">Dab Rigs</a>
                  <a class="dropdown-item" href="/collections/dispensary-supplies">Dispensary Supplies</a>
                  <a class="dropdown-item" href="/collections/hand-pipes-and-bubblers">Hand Pipes & Bubblers</a>
                  <a class="dropdown-item" href="/collections/rolling-papers">Rolling Paper</a>
                  <a class="dropdown-item" href="/collections/water-pipes">Water Pipes</a>
                </div>
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  onclick="window.location.href='/collections';"
                  style="width: 97%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Smoke Shop 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
          -->
        </li>

        {% if customer %}
          <li class="nav-item">
            <!-- Hemp dropdown -->
            <!-- Delta 8, Delta 9, Delta 10, HHC, THC-O -->
            <div class="dropdown">
              <a
                class="dropdown-toggle localization-selector link link--text caption-large"
                style="color: #ffffff; border-right: 0 !important;"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Hemp
              </a>
              <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
                <div class="row" style="flex-wrap: nowrap;">
                  <div class="col" style="min-width: 215px;">
                    <a class="dropdown-item" href="/collections/dabs">Dabs</a>
                    <a class="dropdown-item" href="/collections/hemp-drinks">Drinks</a>
                    <a class="dropdown-item" href="/collections/gummies-edibles">Edibles</a>
                    <a class="dropdown-item" href="/collections/flower">Flower</a>
                    <a class="dropdown-item" href="/collections/prerolls">Prerolls</a>
                    <a class="dropdown-item" href="/collections/hemp-tinctures">Tinctures</a>
                    <a class="dropdown-item" href="/collections/vapeables">Vapeables</a>
                  </div>
              </div>

              <div style="display: flex; align-items: center; justify-content: center; padding-top: 14px;">
                <button
                  class="qvbutton"
                  href="/collections/hemp-products"
                  onclick="window.location.href='/collections/hemp-products';"
                  style="width: 97%; text-align: center; border-style: none; border-radius: 4px; background-color: black; color: white;">
                  View All Hemp 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button>
              </div>

            </div>
          </li>
        {% endif %}

        <li class="nav-item">
          <!-- Flavor Shots -->
          <a
            class="nav-link localization-selector link link--text caption-large"
            style="color: #ffffff; border-right: 0 !important;"
            href="/collections/flavors-nic-shots">Flavors
          </a>
        </li>

        <li class="nav-item">
          <!-- Support dropdown -->
          <div class="dropdown">
            <a
              class="dropdown-toggle disclosure__button localization-form__select localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Support
            </a>
            <div class="dropdown-menu shadow p-3 rounded" aria-labelledby="dropdownMenuLink">
              <div class="row" style="flex-wrap: nowrap;">
                <div class="col" style="min-width: 215px;">
                  <h5 class="dropdown-header">Contact Us</h5>
                  <a class="dropdown-item" href="/pages/customer-support">Customer Support</a>
                  <a class="dropdown-item" href="/pages/request-a-product">Product Request</a>
                  <a class="dropdown-item" href="/pages/request-a-wholesale-account-1">Create an Account</a>
                  <a class="dropdown-item" href="/pages/la-vapor-rma-request-form">RMA Request</a>
                  <h6 class="dropdown-header">Other</h6>
                  <a class="dropdown-item" href="/pages/faq">F.A.Q.</a>
                  <a class="dropdown-item" href="/pages/shipping-new">Shipping & Returns</a>
                  <a class="dropdown-item" href="/pages/state-taxes">State Tax Rates</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        {% if customer %}
          <li class="nav-item">
            <a
              class="nav-link localization-selector link link--text caption-large"
              style="color: #ffffff; border-right: 0 !important;"
              href="/pages/current-deals">Current Deals
            </a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>

  <!-- Announcement bar -->
  <!-- <div class="col-lg-3 text-right offer-icon d-xl-inline-block d-none">
    <div class="special-offer">
        {% if section.settings.ofrtxt != blank %}
            {{ section.settings.ofrtxt }}
        {% endif %}
    </div>
  </div> -->

</div>

<style>
  /* .row {
    flex-wrap: nowrap;
  } */
  li {
    text-transform: capitalize;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }
  .qvbutton:hover {
    background-color: #f8ca23 !important;
    transition: 0.15s;
  }
  .dropdown-header {
    padding: 0.5rem !important;
  }
  .dropdown-item {
    padding: 0.01rem 1.5rem !important;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
</style>

{% schema %}
  {
    "name": "Cms Menu",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Cms Menu"
      }, {
        "type": "richtext",
        "id": "cms_menu",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "header",
        "content": "Special Offer"
      }, {
        "type": "richtext",
        "id": "ofrtxt",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }

    ],
    "presets": [
      {
        "name": "Cms Menu",
        "category": "Megamenu"
      }
    ]
  }
{% endschema %}