<link rel="stylesheet" href="/assets/mega-menu.css">

<div class="row">
  <div class="col-xl-9 col-12 hmenu">
    <!-- cms-menu impromptu -->
    <div id="menu" style="display: flex; flex-direction: row; gap: 30px; align-items: center; list-style: none; white-space: nowrap;">

      <li class="dropdown menu-large">

        <a href="https://www.lavaporwholesale.com/pages/brands" class="dropdown-toggle" data-toggle="dropdown" style="color: #FFF !important;">
          Brands
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">

              <div class="row">

                <div class="col-md">
                  <ul class="dropdown-header">
                    Top Vape brands

                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/7daze" style="padding-left: 10px; padding-right: 10px">7DAZE</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/blvk" style="padding-left: 10px; padding-right: 10px">BLVK</a>
                    </li>
                     <li>
                      <a href="https://www.lavaporwholesale.com/collections/candy-king" style="padding-left: 10px; padding-right: 10px">Candy King</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/cloud-nurdz" style="padding-left: 10px; padding-right: 10px">Cloud Nurdz</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/elf-bar" style="padding-left: 10px; padding-right: 10px">Elf Bar</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/juice-head" style="padding-left: 10px; padding-right: 10px">Juice Head</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/naked" style="padding-left: 10px; padding-right: 10px">Naked100</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/pod-juice" style="padding-left: 10px; padding-right: 10px">Pod Juice</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/skwezed" style="padding-left: 10px; padding-right: 10px">Skwezed</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/twist" style="padding-left: 10px; padding-right: 10px">Twist E-Liquids</a>
                    </li>
                   

                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header">
                    &nbsp;
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/aspire" style="padding-left: 10px; padding-right: 10px">Aspire</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/dotmod" style="padding-left: 10px; padding-right: 10px">dotmod</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/freemax" style="padding-left: 10px; padding-right: 10px">FreeMax</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/geek-vape" style="padding-left: 10px; padding-right: 10px">GeekVape</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/lost-vape" style="padding-left: 10px; padding-right: 10px">Lost Vape</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/smoktech" style="padding-left: 10px; padding-right: 10px">SMOK</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/suorin" style="padding-left: 10px; padding-right: 10px">Suorin</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/uwell" style="padding-left: 10px; padding-right: 10px">UWELL</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/voopoo" style="padding-left: 10px; padding-right: 10px">VOOPOO</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/vaporesso" style="padding-left: 10px; padding-right: 10px">Vaporesso</a>
                    </li>

                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-left: 1px solid #e5e5e5;">
                    Top Smoke Shop Brands
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/boulder" style="padding-left: 10px; padding-right: 10px">Boulder</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/CCell" style="padding-left: 10px; padding-right: 10px">CCell</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/dazzleaf" style="padding-left: 10px; padding-right: 10px">Dazzleaf</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/hamilton-devices" style="padding-left: 10px; padding-right: 10px">Hamilton Devices</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/leaf-buddi" style="padding-left: 10px; padding-right: 10px">Leaf Buddi</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/lookah" style="padding-left: 10px; padding-right: 10px">Lookah</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/mj-arsenal" style="padding-left: 10px; padding-right: 10px">MJ Arsenal</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/ooze" style="padding-left: 10px; padding-right: 10px">Ooze</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/white-rhino" style="padding-left: 10px; padding-right: 10px">White Rhino</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/yocan" style="padding-left: 10px; padding-right: 10px">Yocan</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-left: 1px solid #e5e5e5;">
                    Top Hemp Brands
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/cactus-labs-1" style="padding-left: 10px; padding-right: 10px">Cactus Labs</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/cake" style="padding-left: 10px; padding-right: 10px">Cake</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/crumbs" style="padding-left: 10px; padding-right: 10px">Crumbs</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/curevana" style="padding-left: 10px; padding-right: 10px">Curevana</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/dope" style="padding-left: 10px; padding-right: 10px">Dope</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/flying-monkey" style="padding-left: 10px; padding-right: 10px">Flying Monkey</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/kalibloom" style="padding-left: 10px; padding-right: 10px">Kalibloom</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/kush" style="padding-left: 10px; padding-right: 10px">Kush</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/medusa" style="padding-left: 10px; padding-right: 10px">Medusa</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/space-walker" style="padding-left: 10px; padding-right: 10px">Space Walker</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">

        <a href="https://www.lavaporwholesale.com/collections/devices-1" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Vape
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">

              <div class="row">
                <div class="col-md">

                  <ul class="dropdown-header">
                    E-Liquid
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/freebase" style="padding-left: 10px; padding-right: 10px">Freebase</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/salts" style="padding-left: 10px; padding-right: 10px">Salts</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    Disposables
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">1,000+ Puffs</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">3,000+ Puffs</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">5,000+ Puffs</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-left: 1px solid #e4e4e4;">
                    Hardware
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/kits" style="padding-left: 10px; padding-right: 10px">Kits</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/mods" style="padding-left: 10px; padding-right: 10px">Mods</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/tanks" style="padding-left: 10px; padding-right: 10px">Tanks</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/coils" style="padding-left: 10px; padding-right: 10px">Coils</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/batteries" style="padding-left: 10px; padding-right: 10px">Batteries</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/accessories" style="padding-left: 10px; padding-right: 10px">Accessories</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Smoke Shop
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <ul class="dropdown-header">
                    Smoke Shop
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vaporizers</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/water-pipes" style="padding-left: 10px; padding-right: 10px">Water Pipes</a>
                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/dab-rigs" style="padding-left: 10px; padding-right: 10px">Dab Rigs</a>

                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/dispensary-supplies" style="padding-left: 10px; padding-right: 10px">Dispensary Supplies</a>

                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/hand-pipes-and-bubblers" style="padding-left: 10px; padding-right: 10px">Hand Pipes & Bubblers</a>

                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/hemp-products" style="padding-left: 10px; padding-right: 10px">Hemp</a>

                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/rolling-papers" style="padding-left: 10px; padding-right: 10px">Rolling Paper</a>

                    </li>
                    <li>
                      <a href="https://www.lavaporwholesale.com/collections/accessories" style="padding-left: 10px; padding-right: 10px">Accessories</a>

                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </li>
        </ul>
      </li>

      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="color: #FFF !important;">
          Hemp
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu megamenu row">
          <li>
            <div class="container">
              <div class="row">

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 8
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    HHC
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">

                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 9
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                  <ul class="dropdown-header">
                    THC-O
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>

                </div>

                <div class="col-md">
                  <ul class="dropdown-header" style="border-bottom: 1px solid #e4e4e4;">
                    Delta 10
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Vapeables</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Prerolls</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Flower</a>
                    </li>
                    <li>
                      <a href="#" style="padding-left: 10px; padding-right: 10px">Edibles</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">Quick Order</a>
      </li>

      <li>
        <a href="https://www.lavaporwholesale.com/pages/about" style="color: #FFF !important;">About Us</a>
      </li>

      <li>
        <a href="#" style="color: #FFF !important;">Contact Us</a>
      </li>

    </div>
  </div>

  <div class="col-lg-3 text-right offer-icon d-xl-inline-block d-none">
    <div class="special-offer">
      {{ section.settings.ofrtxt }}
    </div>
  </div>

</div>

<style>
  .row {
    flex-wrap: nowrap;
  }

  li {
    text-transform: capitalize;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }

</style>

{% schema %}
  {
    "name": "Cms Menu",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Cms Menu"
      }, {
        "type": "richtext",
        "id": "cms_menu",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }, {
        "type": "header",
        "content": "Special Offer"
      }, {
        "type": "richtext",
        "id": "ofrtxt",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }

    ],
    "presets": [
      {
        "name": "Cms Menu",
        "category": "Megamenu"
      }
    ]
  }
{% endschema %}