.discounts {
  font-size: calc(var(--font-size-base) * 1.15px);
}

.discounts__discount {
  display: flex;
  align-items: center;
}


.discounts__discount--end {
  justify-content: flex-end;
}

.discounts__discount > .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}
